* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
   :root {
    --white: #ffffff;
    --darkred: #e60000;
    --black-text: #0000000;
  }
  .z-index {
    z-index: 100;
  }
  .bg-white {
    background-color: var(--white) !important;
  }
  .cus-text-white {
    color: var(--white) !important;
  }
  .dark-red {
    background-color: var(--darkred) !important;
  }
  .cus-text-dark {
    color: black;
  }
  
/* center section */

  .outer-div {
    position: relative;
  }
  
  .upper-div {
    background-color: red;
    height: 550px; /* Aapki requirement ke according height set karein */
    text-align: center;
    padding-top: 50px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
font-weight: bolder;
color: white;
}
  .upper-div h1{
    font-size: 3rem;
    font-weight: bolder;
    margin-bottom: 20px;
    gap: -10px;
  }
  .upper-div button{
    border-radius: 6px;
    color: black;
    height: 60px;
    width: 30%;
    font-weight: 600;
    border: none;
    outline: none;
    font-size: 2.5rem;
    margin-top: 30px;
    background-color: yellow;
    margin-top: 10px;
  }

  
  .middle-div {
    position: absolute;
    height: 600px;
    border-radius: 20px;
    border: gainsboro solid 6px;
    width: 60%;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .lower-div {
    /* background-color: green; */
    height: 1000px; 
padding-top: 500px;
text-align: center;
}  
.lower-div button{
    border-radius: 50px;
    color: black;
    height: 80px;
    width: 40%;
    font-weight: 600;
    border: none;
    outline: none;
    margin-top: 30px;
    background-color: red;
    margin-top: 50px;
    align-content: center;
  }
  .carousel-item {

position: absolute;
width: 1653px;
/* height: 7480px; */
left: -107px;
top: 16px;

}
.carousel-item img{
    height: 150px;
    width: 400px;
margin: 50px auto;
/* margin-top: 50px; */
background: none;
}


.outer-div2 {
    position: relative;
  }
  
  .upper-div2 {
    background-color: yellow;
    height: 800px;
    display: grid;
  }


  .frame{
    display: flex;
    justify-content: space-evenly;
     flex-wrap: wrap;
}

.box{
    height: 300px;
    width: 400px;
    background-color: aqua;
    border-radius: 15px;
}









  
  .middle-div2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background: #e60000; */
    height: 100px;
    width: 40%;
    border-radius: 50px;
    text-align: center;
    text-overflow: ellipsis;
  }
  .middle-div2 button{
    border-radius: 50px;
    color: black;
    height: 80px;
    width: 100%;
    font-weight: 600;
    border: none;
    outline: none;
    margin-top: 30px;
    background-color: red;
    margin-top: 50px;
    align-content: center;
  }
  .lower-div2 {
    background-color: green;
    height: 100vh; /* Aapki requirement ke according height set karein */
  }
  















  /* ------media-query---------- */
  
  @media only screen and (max-width: 400px) {
    .hero-section-h2 {
      font-size: 2rem !important;
      font-weight: 700 !important;
    }
  
    .hero-section-h3 {
      font-weight: 500 !important;
      font-size: 1.3rem !important;
      line-height: 61.2px !important;
      text-align: center !important;
    }
    .h3-advertize-heading {
      border-radius: 10px;
      background-color: yellow;
      font-weight: 500 !important;
      font-size: 100rem;
      color: black;
      padding: 3px;
     
    }
    .add-service-section {
      width: 90%;
    }
    .add-service-section-paragraph {
      text-align: center;
      font-size: 0.9rem;
      font-weight: 450;
      padding: 4px;
      color: black;
      line-height: 30px;
    }
  
    .h-sec {
      width: 100%;
      min-height: 85vh !important;
      /* border: 2px solid orange; */
    }
  
    .hero-video1 {
      width: 90%;
      height: auto;
      margin-top: 30px;
      margin-bottom:5px ;
      border: 5px solid whitesmoke;
      border-radius: 10px;
      margin: auto;
      background-color: whitesmoke;
    }
  
    /* add-services-section */
    .add-service-section {
      width: 60%;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 640px) {
    .hero-section-h2 {
      font-size: 2.5rem !important;
      font-weight: 700 !important;
      /* line-height: 90px !important; */
    }
  
    .hero-section-h3 {
      font-weight: 500 !important;
      font-size: 1.4rem !important;
      line-height: 41.2px !important;
      text-align: center !important;
    }
  
    .h3-advertize-heading {
      border-radius: 10px;
      background-color: yellow;
      font-weight: 500 !important;
      font-size: 1.3rem !important;
      color: #000000;
      padding: 4px;
    }
  
    .bg-image-hero-sec {
      height: 80vh;
    }
  
    .h-sec {
      width: 100%;
      min-height: 90vh;
      border: 2px solid orange;
    }
    /* <!-- add-servces-section --> */
  
   
    
  
    .hero-video1 {
      width: 70%;
      height: auto;
      margin-top: 30px;
      border: 5px solid whitesmoke;
      border-radius: 10px;
      margin: auto;
      background-color: whitesmoke;
    }
  
    .add-service-section {
      width: 95%;
    }
    .add-service-section-paragraph {
      text-align: center;
      font-size: 1.12rem;
      font-weight: 450;
      padding: 4px;
      color: black;
      line-height: 30px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .h-sec {
      width: 100%;
      min-height: 100vh !important;
      border: 2px solid orange;
    }
  
    .hero-video1 {
      width: 50%;
      height: auto;
      margin-top: 30px;
      margin-bottom:5px ;
      border: 5px solid whitesmoke;
      border-radius: 10px;
      margin: auto;
      background-color: whitesmoke;
    }
  
  }